<form class="form-create">
  <h2 class="form-create-heading">Создание сотрудника</h2>
  <input type="hidden" name="id" ng-model="id"/>
  <label for="name">Имя</label>
  <input type="text" id="name" ng-model="name" autocomplete="off" class="form-control" required autofocus>
  <label for="surname">Фамилия</label>
  <input type="text" id="surname" ng-model="surname" autocomplete="off" class="form-control" required>
  <label for="position">Должность</label>
  <input type="text" id="position" ng-model="position" autocomplete="off" class="form-control" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="Create()">Сохранить</button>
</form>
